<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <script async="" src="//analytics.midwesternmac.com/tracker.js" id="fathom-script"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/geerlingguy/raspberry-pi-pcie-devices">View on GitHub</a>

          <h1 id="project_title"><a href="/">{{ site.title }}</a></h1>
          <h2 id="project_tagline">{{ site.description }}</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">The {{ site.title }} project is maintained by <a href="https://github.com/geerlingguy">geerlingguy</a></p>
      </footer>
    </div>

    {% if site.fathom_analytics %}
      <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
      <script>
      (function(f, a, t, h, o, m){
        a[h]=a[h]||function(){
          (a[h].q=a[h].q||[]).push(arguments)
        };
        o=f.createElement('script'),
        m=f.getElementsByTagName('script')[0];
        o.async=1; o.src=t; o.id='fathom-script';
        m.parentNode.insertBefore(o,m)
      })(document, window, '//analytics.midwesternmac.com/tracker.js', 'fathom');
      fathom('set', 'siteId', 'JVIIB');
      fathom('trackPageview');
      </script>
      <!-- / Fathom -->
    {% endif %}
  </body>
</html>
